<launch>

  <!-- Arguments -->
  <arg name="gopro_video" default=""/>
  <arg name="gopro_folder" default=""/>
  <arg name="multiple_files" default="false"/>
  <arg name="rosbag" default=""/>
  <arg name="scale" default="1.0"/>
  <arg name="compressed_image_format" default="true"/>
  <arg name="grayscale" default="false"/>
  <arg name="display_images" default="false"/>

  <node name="gopro_to_rosbag" pkg="gopro_ros" exec="gopro_to_rosbag" output="screen"> 
    <param name="gopro_video" value="$(var gopro_video)"/>
    <param name="rosbag" value="$(var rosbag)"/>
    <param name="scale" value="$(var scale)"/>
    <param name="compressed_image_format" value="$(var compressed_image_format)"/>
    <param name="grayscale" value="$(var grayscale)"/>
    <param name="display_images" value="$(var display_images)"/>
    <param name="gopro_folder" value="$(var gopro_folder)"/>
    <param name="multiple_files" value="$(var multiple_files)"/>
  </node>

</launch>
